@using InteriorPlatform.Common
@model InteriorPlatform.Web.ViewModels.Home.HomePageViewModel
@{
    this.ViewData["Title"] = "Дизайн Фаб";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли, <i class="fa fa-industry" aria-hidden="true"></i> @GlobalConstants.SystemName</h1>
</div>

<!-- Div Main Raised Effect -->
<div class="main main-raised m-5">

    <!-- Random Projects -->
    <div class="container-fluid section-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Нашите топ проекти</h2>
                    <h5 class="description">Най-добрите проекти от Фаб Дизайн винаги се отличават с висок професионализъм и голям интерес.</h5>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        @foreach (var project in Model.RandomProjects)
                        {
                            <div class="col-md-3">
                                <div class="card card-plain card-blog" style="border: none">
                                    <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id">
                                        <div class="card-image">
                                            <img class="img img-raised" src="@project.ImageUrl">
                                            <div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-blog4.jpg&quot;); opacity: 1;"></div>
                                        </div>
                                    </a>

                                    <div class="card-content">
                                        <h6 class="category text-info">@project.CategoryName</h6>
                                        <h4 class="card-title">
                                            <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id">@project.Name</a>
                                        </h4>
                                        <p class="card-description">
                                            @if (project.Description.Length > 100)
                                            {
                                                @project.Description.ToString().Substring(0, 77);
                                            }
                                            else
                                            {
                                                @project.Description.ToString();
                                            }
                                            <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id" class="text-primary icon-move-right">
                                                Повече инфо
                                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TESTIMONIALS -->
    <div class="section-image pb-5" style="background-image: url('./assets/img/city.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="title">Отзиви</h2>
                    <h5 class="description">Нуждаеш се от повече информация? Прочети какво споделят хората относно услугите на нашия сайт.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="icon">
                            <i class="material-icons">format_quote</i>
                        </div>
                        <div class="card-content">
                            <h5 class="card-description">
                                "Дълго време търсех място, където мога да споделя проектите си и да споделя идеите си с хора, с които имаме общи интереси."
                            </h5>
                        </div>

                        <div class="footer">
                            <h4 class="card-title">Димитър Стоянов</h4>
                            <h6 class="category">Софтуерен Архитект</h6>
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="assets/img/faces/card-profile1-square.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="icon">
                            <i class="material-icons">format_quote</i>
                        </div>
                        <div class="card-content">
                            <h5 class="card-description">
                                "Тук намерих достатъчно проекти и дизайнери, с които се свързах и разговарях относно моят апартамент. Намерих професионално отношение и бърз отговор на всеки от моите въпроси"
                            </h5>
                        </div>

                        <div class="footer">
                            <h4 class="card-title">Яна Караманджукова</h4>
                            <h6 class="category">Pixel Pool</h6>
                            <div class="card-avatar">
                                <img class="img" src="assets/img/faces/card-profile4-square.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-testimonial">
                        <div class="icon">
                            <i class="material-icons">format_quote</i>
                        </div>
                        <div class="card-content">
                            <h5 class="card-description">
                                "Като собственик на малък бизнес в сферата на интериорния бизнес, тук намерих място, където научавам нови неща свързани в нашата област."
                            </h5>
                        </div>

                        <div class="footer">
                            <h4 class="card-title">Кремена Янкова</h4>
                            <h6 class="category">Дизайн Консулт</h6>
                            <div class="card-avatar">
                                <img class="img" src="~/assets/img/faces/card-profile6-square.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Random Designers -->
    <div class="container-fluid section-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Нашите топ дизайнери</h2>
                    <h5 class="description">Най-добрите ни професионалисти с най-добрите си идеи на един клик разстояние.</h5>
                </div>
            </div>

            <div class="row">
                @foreach (var designer in Model.RandomDesigners)
                {
                    <div class="col-md-3">
                        <div class="card card-profile card-plain" style="border: none">
                            <div class="card-avatar">
                                <a asp-controller="Designers" asp-action="ById" asp-route-id="@designer.Id">
                                    @if (designer.ProfilePictureUrl == null)
                                    {
                                        <img class="img" src="~/assets/img/placeholder.jpg" alt="@designer.Id" />
                                    }
                                    else
                                    {
                                        <img class="img" src="@designer.ProfilePictureUrl" alt="@designer.Id" />
                                    }
                                </a>
                            </div>

                            <div class="card-content">
                                <h4 class="card-title">@designer.FirstName @designer.LastName</h4>
                                <h6 class="category text-muted">@designer.PositionName</h6>
                                <div class="footer">
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-behance"><i class="fa fa-behance"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>