@model InteriorPlatform.Web.ViewModels.Project.ByIdProjectViewModel
@{
    this.ViewData["Title"] = Model.Id;
}
<div class="container-fluid">
    <div class="col-md-9 p-0">
        <!-- Masonry Gallery -->
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item"}'>
            <!-- add sizing element for columnWidth -->
            <div class="grid-sizer"></div>
            @foreach (var file in Model.Images)
            {
                <div class="grid-item col-md-6 p-0">
                    <img class="img-fluid w-100" src="~/images/projects/@file.Id.@file.Extension" />
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img class="img" src="~/assets/img/faces/marc.jpg" />
                </a>
            </div>
            <div class="card-content">
                <h4 class="card-title">@Model.AddedByUser.FirstName @Model.AddedByUser.LastName</h4>
                <hr class="p-0" />
                <h4 class="category text-gray">@Model.Name</h4>
                <h6 class="category text-gray">@Model.Category.Name</h6>
                <p class="card-description">
                    @Model.Description
                </p>
                <hr />
                <div class="row">
                    <div class="col-sm-6 float-start">
                        <span class="card-description float-start">
                            <i class="fa fa-clock-o float-start" aria-hidden="true"> @Model.CreatedOn.ToString("dd MMMM yyyy")</i>
                        </span>
                    </div>
                    <div class="col-sm-6 float-end">
                        <span class="card-description float-end">
                            <i class="fa fa-eye" aria-hidden="true"> @Model.Visits</i>
                        </span>
                        <span class="card-description float-end">
                            <i class="fa fa-thumbs-up" aria-hidden="true"> @Model.Visits</i>
                        </span>
                    </div>
                </div>

                <!-- Adding Button for Inquire -->
                <button class="btn btn-info btn-round" data-toggle="modal" data-target="#inquireModal">
                    <i class="material-icons">assignment</i> Направи Запитване
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="inquireModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="header header-primary text-center p-5">
                        <h4 class="card-title">Запитване</h4>
                    </div>
                </div>
                <form class="form" method="post">
                    <div class="modal-body">
                        <p class="description text-center">Изпрати запитване и получи оферта</p>

                        <div class="card-content">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">face</i>
                                </span>
                                <input type="text" class="form-control" placeholder="Име Фамилия">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="material-icons">phone_iphone</span>
                                </span>
                                <input type="text" class="form-control" placeholder="Телефон">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                </span>
                                <input type="text" class="form-control" placeholder="Имейл">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="material-icons">description</span>
                                </span>
                                <textarea type="text"
                                          class="form-control"
                                          placeholder="Описание"
                                          rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center m-5">
                        <button type="submit" class="btn btn-primary btn-round">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Изпрати
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->