@model InteriorPlatform.Web.ViewModels.Inquire.InquireAssemblyViewModel
@{
    this.ViewData["Title"] = Model.Project.Id;
}
<div class="container-fluid">
    <div class="col-md-9 p-0">
        <!-- Masonry Gallery -->
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item"}'>
            <!-- add sizing element for columnWidth -->
            <div class="grid-sizer"></div>
            @foreach (var file in Model.Project.Images)
            {
                <div class="grid-item col-md-6 p-0">
                    <img class="img-fluid w-100" src="~/images/projects/@file.Id.@file.Extension" />
                </div>
            }
        </div>
    </div>

    <!-- CARD PROFILE -->
    <div class="col-md-3">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img class="img" src="~/assets/img/faces/marc.jpg" />
                </a>
            </div>
            <div class="card-content">
                <h4 class="card-title">@Model.Project.AddedByUser.FirstName @Model.Project.AddedByUser.LastName</h4>
                <hr class="p-0" />
                <h4 class="category text-gray">@Model.Project.Name</h4>
                <h6 class="category text-gray">@Model.Project.Category.Name</h6>
                <p class="card-description">
                    @Model.Project.Description
                </p>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <span class="card-description float-start d-flex align-items-center">
                            <span class="material-icons">schedule </span>
                            @Model.Project.CreatedOn.ToString("dd MMMM yyyy")
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <span class="card-description float-end d-flex align-items-center">
                            <span class="material-icons active">favorite_border</span>
                        </span>
                        <span class="card-description float-end d-flex align-items-center">
                            <span class="material-icons" style="cursor: pointer" data-like="1">thumb_up</span>
                            <span id="likesCountValue">@Model.Project.LikesCount</span>
                            <span class="material-icons" style="cursor: pointer" data-like="0">thumb_down</span>
                        </span>
                    </div>
                </div>

                <!-- Adding Button for Inquire -->
                <button class="btn btn-info btn-round" data-toggle="modal" data-target="#inquireModal">
                    <i class="material-icons">assignment</i> Направи Запитване
                </button>
            </div>
        </div>
        <!-- Adding Button for EDIT & DELETE -->
        <div class="d-flex justify-content-between">
            <a asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Project.Id" class="btn btn-success btn-round">
                <span class="material-icons">edit</span> Редактиране
            </a>
            <form method="post" id="deleteProject" asp-action="Delete" asp-route-id="@Model.Project.Id"></form>
            <button class="btn btn-danger btn-round" data-toggle="modal" data-target="#smallAlertModal">
                <span class="material-icons">delete</span> Изтриване
            </button>
        </div>
    </div>
</div>

<!-- AJAX Like Post Querry -->
<form method="post" id="antiForgeryForm"></form>
@section Scripts{
    <script>
    $("span[data-like]").each(function (el) {
        $(this).click(function(){
            var value = $(this).attr("data-like");
            var projectId = @Model.Project.Id;
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var data={ projectId: projectId, value: value};
            $.ajax({
                type: "POST",
                url: "/api/Likes",
                dataType: "json",
                data: JSON.stringify(data),
                async: true,
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                success: function (data) {
                    $('#likesCountValue').html(data.likesCount);
                },
                contentType: "application/json",
            });
        })
    });
    </script>
}

<!-- Inquire Start Modal -->
<div class="modal fade" id="inquireModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="header header-primary text-center p-3">
                        <h4 class="card-title">Запитване</h4>
                    </div>
                </div>
                <form asp-controller="Designers" asp-action="Inquire" class="form" method="post" id="inquireForm">
                    <div class="modal-body">
                        <p class="description text-center">Изпрати запитване и получи оферта</p>

                        <div class="card-content">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">face</i>
                                </span>
                                <input asp-for="@Model.Inquire.Name" type="text" class="form-control" placeholder="Име Фамилия">
                                <span asp-validation-for="@Model.Inquire.Name" class="text-danger"></span>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="material-icons">phone_iphone</span>
                                </span>
                                <input asp-for="@Model.Inquire.PhoneNumber" type="text" class="form-control" placeholder="Телефон">
                                <span asp-validation-for="@Model.Inquire.PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                </span>
                                <input asp-for="@Model.Inquire.Email" type="text" class="form-control" placeholder="Имейл">
                                <span asp-validation-for="@Model.Inquire.Email" class="text-danger"></span>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="material-icons">description</span>
                                </span>
                                <textarea asp-for="@Model.Inquire.Info"
                                          type="text"
                                          class="form-control"
                                          placeholder="Описание"
                                          rows="3"></textarea>
                                <span asp-validation-for="@Model.Inquire.Info" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center m-5">
                        <a class="btn btn-primary btn-round" onclick="document.getElementById('inquireForm').submit();">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Изпрати
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--  Inquire End Modal -->

<!-- Confirmation Start Modal -->
<div class="modal fade" id="smallAlertModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-small" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body text-center">
                <h5>Сигурен ли си, че желаеш това? </h5>
            </div>
            <div class="modal-footer justify-content-center row">
                <button type="button" class="btn btn-link" data-dismiss="modal">Не</button>
                <button type="button" class="btn btn-success btn-link" onclick="deleteProject.submit()">Да</button>
            </div>
        </div>
    </div>
</div>
<!-- Confirmation End modal -->