@model InteriorPlatform.Data.Models.Category

@{
    ViewData["Title"] = "Категория - Детайли";
}

<div class="container">
    <h2>Детайли</h2>
    <h4>Категория</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Име
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Изтрит ли е ?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            Изтрит
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>
        <dt>
            Създаден
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            Редактиран
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
    <div>
        <a class="btn btn-info" asp-action="Index">Назад</a>
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Редактиране</a>
    </div>
</div>