@model InteriorPlatform.Web.ViewModels.Designer.AllDesignersViewModel
@{
    this.ViewData["Title"] = "All Designers";
}

<div class="container">
    <h3 class="card-title">Всички дизайнери</h3>
    <hr />
    <div class="row">
        @foreach (var designer in Model.Designers)
        {
            <div class="col-md-3">
                <div class="card card-profile">
                    <a asp-action="ById" asp-route-id="@designer.Id">
                        <div class="card-image">
                            @if (designer.ProfilePicture == null)
                            {
                                <img class="img" src="~/assets/img/placeholder.jpg" alt="@designer.Id" />
                            }
                            else
                            {
                                <img class="img" src="@designer.ProfilePicture.PictureUrl" alt="@designer.Id" />
                            }
                        </div>
                    </a>
                    <div class="card-content">
                        <h4 class="card-title">@designer.FirstName @designer.LastName</h4>
                        <h6 class="category text-muted">@designer.PositionName</h6>
                        <hr />
                        <div class="row-fluid text-center">
                            <ul class="list-inline">
                                <li class="list-inline-item"><span class="material-icons">location_on</span>@designer.TownName</li>
                                <li class="list-inline-item"><span class="material-icons">work</span>@designer.ProjectsCount</li>
                                <li class="list-inline-item"><span class="material-icons">visibility</span>2131</li>
                                <li class="list-inline-item"><span class="material-icons">trending_up</span>2462</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <partial name="_PagingPartial" model="@Model" />
</div>
