@model InteriorPlatform.Web.ViewModels.Designer.ByIdDesignerViewModel
@{
    this.ViewData["Title"] = "Дизайнер";
}

<div class="container-fluid">
    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="title">Информация</h1>
                    <h4 class="fw-bolder">Добре дошли, приятели. Може да се запознаете с проектите ми по долу.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Card -->
            <div class="card card-profile">
                <div class="card-avatar">
                    @if (Model.Designer.ProfilePicture == null)
                    {
                        <img class="img" src="~/assets/img/placeholder.jpg" alt="@Model.Designer.Id" />
                    }
                    else
                    {
                        <img class="img" src="@Model.Designer.ProfilePicture.PictureUrl" alt="@Model.Designer.Id" />
                    }
                </div>
                <div class="card-content">
                    <h4 class="card-title">@Model.Designer.FirstName @Model.Designer.LastName</h4>
                    <h6 class="category text-gray"><i class="fa fa-bookmark-o" aria-hidden="true"></i> @Model.Designer.PositionName</h6>
                    <h6 class="category text-gray"><i class="fa fa-map-marker" aria-hidden="true"></i> @Model.Designer.TownName</h6>
                    <a href="#pablo" class="btn btn-info btn-round">Изпрати Запитване</a>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="card-description float-start d-flex align-items-center">
                                <i class="fa fa-clock-o" aria-hidden="true"> Регистриран: @Model.Designer.CreatedOn.ToString("MM/dd/yyyy")</i>
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <span class="card-description float-end d-flex align-items-center">
                                <i class="fa fa-database" aria-hidden="true"> Проекти: @Model.Projects.Count()</i>
                            </span>
                        </div>
                    </div>
                    <hr />
                    <div class="container-fluid">
                        <h6 class="category text-gray">Кратко описание:</h6>
                        @if (Model.Designer.AboutMe == null)
                        {
                            <span class="card-description center-block">Няма информация засега</span>
                        }
                        else
                        {
                            <span class="card-description float-start">@Model.Designer.AboutMe</span>
                        }
                    </div>
                </div>
            </div>

            <!-- Profile Tabs -->
            <div class="profile-tabs">
                <div class="nav-align-center">
                    <ul class="nav nav-pills nav-pills-icons" role="tablist">
                        <li class="active">
                            <a href="#work" role="tab" data-toggle="tab">
                                <i class="material-icons">palette</i>
                                Проекти
                            </a>
                        </li>
                        <li>
                            <a href="#inquires" role="tab" data-toggle="tab">
                                <i class="fa fa-question" aria-hidden="true"></i>
                                Запитвания
                            </a>
                        </li>
                        <li>
                            <a href="#settings" role="tab" data-toggle="tab">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                Настройки
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-md-9">
            <!-- Content -->
            <div class="tab-content">
                <!-- DESIGNER PROJECTS TAB -->
                <div class="tab-pane active" id="work">
                    <div class="grid" data-masonry='{ "itemSelector": ".grid-item"}'>
                        <div class="grid-sizer"></div>
                        @foreach (var project in Model.Projects)
                        {
                            <div class="grid-item col-md-3 mt-5">
                                <div class="card card-background" style="background-image: url(@project.ImageUrl)">
                                    <div class="card-content">
                                        <h6 class="category text-info">@project.CategoryName</h6>
                                        <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id">
                                            <h4 class="card-title">@project.Name</h4>
                                        </a>
                                        <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id" class="btn btn-white btn-round">
                                            <i class="material-icons">subject</i> повече
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <!-- DESIGNER INQUIRES TAB -->
                <div class="tab-pane" id="inquires">
                    <div class="col-md-6">
                        @if (Model.Inquires.Count() == 0)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        Все още нямате изпратени запитвания
                                    </h4>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (var inquire in Model.Inquires)
                            {
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                <h4 class="panel-title">
                                                    Запитване #@inquire.Id
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                            <div class="card card-pricing">
                                                <div class="card-content">
                                                    <ul>
                                                        <li><i class="material-icons">face</i> @inquire.Name</li>
                                                        <li><span class="material-icons">phone_iphone</span> @inquire.PhoneNumber</li>
                                                        <li><i class="material-icons">email</i> @inquire.Email</li>
                                                        <li><span class="material-icons">description</span> @inquire.Info</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <!-- DESIGNER SETTINGS TAB -->
                <div class="tab-pane" id="settings">
                    <div class="row">
                        <!-- Profile Photo -->
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="settings">
                                    <h4 class="panel-title">Профилна снимка</h4>
                                </div>
                            </div>
                            <form asp-controller="Designers" asp-action="Upload" method="post" class="form" enctype="multipart/form-data">
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail img-raised">
                                        <img src="~/assets/img/image_placeholder.jpg" alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail img-raised" style=""></div>
                                    <div>
                                        <label asp-for="@Model.CloudinaryImage.Image">Снимкa</label>
                                        <span class="btn btn-raised btn-round btn-default btn-file">
                                            <span class="fileinput-new">Избери снимка</span>
                                            <span class="fileinput-exists">Промени</span>
                                            <input asp-for="@Model.CloudinaryImage.Image" type="hidden" value="" name="Image">
                                            <input asp-for="@Model.CloudinaryImage.Image" type="file" name="Image">
                                        </span>
                                        <span asp-validation-for="@Model.CloudinaryImage.Image" class="text-danger"></span>
                                        <a href="javascript:void(0)" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Премахни</a>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-info btn-round fileinput-exists">Качи</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- About Me -->
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="settings">
                                    <h4 class="panel-title">Информация относно вас</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form asp-controller="Designers" asp-action="SetAboutMe" method="post" class="form" name="aboutMe">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="input-group">
                                        <label asp-for="AboutMe.Info" class="form-label">Описание:</label>
                                        <textarea asp-for="AboutMe.Info"
                                                  type="text"
                                                  class="form-control"
                                                  placeholder="моля добавете кратък текст относно вашето образование, професионален опит или интереси"
                                                  rows="7"></textarea>
                                        <span asp-validation-for="AboutMe.Info" class="text-danger"></span>
                                    </div>
                                    <button name="aboutMe" type="submit" class="btn btn-info btn-round">Запази</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>