@model InteriorPlatform.Web.ViewModels.Designer.ByIdDesignerViewModel
@{
    this.ViewData["Title"] = @Model.Designer.FirstName + " " + @Model.Designer.LastName;
}
<div class="container-fluid">
    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="title">About Us</h1>
                    <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/assets/img/faces/marc.jpg" />
                    </a>
                </div>
                <div class="card-content">
                    <h4 class="card-title">@Model.Designer.FirstName @Model.Designer.LastName</h4>
                    <h6 class="category text-gray"><i class="fa fa-bookmark-o" aria-hidden="true"></i> @Model.Designer.PositionName</h6>
                    <h6 class="category text-gray"><i class="fa fa-map-marker" aria-hidden="true"></i> @Model.Designer.TownName</h6>
                    <a href="#pablo" class="btn btn-info btn-round">Изпрати Запитване</a>
                    <hr />
                    <div class="row">
                        <span class="card-description">
                            <i class="fa fa-clock-o" aria-hidden="true"> Регистриран: @Model.Designer.CreatedOn.ToString("MM/dd/yyyy")</i>
                        </span>
                        <span class="card-description">
                            <i class="fa fa-database" aria-hidden="true"> Проекти: @Model.Projects.Count()</i>
                        </span>
                    </div>
                    <hr />
                    <div class="container-fluid">
                        <h6 class="category text-gray">Кратко описание:</h6>
                        <span class="card-description float-start">
                            инфо инфо инфо
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-9">
            <!-- add extra container element for Masonry -->
            <div class="grid" data-masonry='{ "itemSelector": ".grid-item"}'>
                <!-- add sizing element for columnWidth -->
                <div class="grid-sizer"></div>
                <!-- items use Bootstrap .col- classes -->
                @foreach (var project in Model.Projects)
                {
                    <div class="grid-item col-md-2 mt-5">
                        <div class="card card-background" style="background-image: url(@project.ImageUrl)">
                            <div class="card-content">
                                <h6 class="category text-info">@project.CategoryName</h6>
                                <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id">
                                    <h4 class="card-title">@project.Name</h4>
                                </a>
                                <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id" class="btn btn-white btn-round">
                                    <i class="material-icons">subject</i> повече
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>