@model InteriorPlatform.Web.ViewModels.Designer.ByIdDesignerViewModel
@{
    this.ViewData["Title"] = @Model.Designer.FirstName + " " + @Model.Designer.LastName;
}
<div class="container-fluid">
    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="title">About Us</h1>
                    <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- 1/3 of the screen width for the profile card and profile tabs -->
        <div class="col-md-3">
            <!-- Profile Card -->
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="~/assets/img/faces/marc.jpg" />
                    </a>
                </div>
                <div class="card-content">
                    <h4 class="card-title">@Model.Designer.FirstName @Model.Designer.LastName</h4>
                    <h6 class="category text-gray"><i class="fa fa-bookmark-o" aria-hidden="true"></i> @Model.Designer.PositionName</h6>
                    <h6 class="category text-gray"><i class="fa fa-map-marker" aria-hidden="true"></i> @Model.Designer.TownName</h6>
                    <a href="#pablo" class="btn btn-info btn-round">Изпрати Запитване</a>
                    <hr />
                    <div class="row">
                        <span class="card-description">
                            <i class="fa fa-clock-o" aria-hidden="true"> Регистриран: @Model.Designer.CreatedOn.ToString("MM/dd/yyyy")</i>
                        </span>
                        <span class="card-description">
                            <i class="fa fa-database" aria-hidden="true"> Проекти: @Model.Projects.Count()</i>
                        </span>
                    </div>
                    <hr />
                    <div class="container-fluid">
                        <h6 class="category text-gray">Кратко описание:</h6>
                        <span class="card-description float-start">
                            инфо инфо инфо
                        </span>
                    </div>

                </div>
            </div>

            <!-- Profile Tabs -->
            <div class="profile-tabs">
                <div class="nav-align-center">
                    <ul class="nav nav-pills nav-pills-icons" role="tablist">
                        <li class="active">
                            <a href="#work" role="tab" data-toggle="tab">
                                <i class="material-icons">palette</i>
                                Проекти
                            </a>
                        </li>
                        <li>
                            <a href="#inquires" role="tab" data-toggle="tab">
                                <i class="fa fa-question" aria-hidden="true"></i>
                                Запитвания
                            </a>
                        </li>
                        <li>
                            <a href="#media" role="tab" data-toggle="tab">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                Настройки
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- 2/3 of the screen width for the Projects -->
        <div class="col-md-9">
            <div class="tab-content">
                <!-- WORK TAB -->
                <div class="tab-pane active" id="work">
                    <div class="grid" data-masonry='{ "itemSelector": ".grid-item"}'>
                        <!-- add sizing element for columnWidth -->
                        <div class="grid-sizer"></div>
                        <!-- items use Bootstrap .col- classes -->
                        @foreach (var project in Model.Projects)
                        {
                            <div class="grid-item col-md-3 mt-5">
                                <div class="card card-background" style="background-image: url(@project.ImageUrl)">
                                    <div class="card-content">
                                        <h6 class="category text-info">@project.CategoryName</h6>
                                        <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id">
                                            <h4 class="card-title">@project.Name</h4>
                                        </a>
                                        <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id" class="btn btn-white btn-round">
                                            <i class="material-icons">subject</i> повече
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <!-- INQUIRES TAB -->
                <div class="tab-pane" id="inquires">
                    <div class="col-md-6">
                        @foreach (var inquire in Model.Inquires)
                        {
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                            <h4 class="panel-title">
                                                Запитване #@inquire.Id
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                        <div class="card card-pricing">
                                            <div class="card-content">
                                                <ul>
                                                    <li><i class="material-icons text-success">check</i> @inquire.Name</li>
                                                    <li><i class="material-icons text-success">check</i> @inquire.PhoneNumber</li>
                                                    <li><i class="material-icons text-danger">close</i> @inquire.Email</li>
                                                    <li><i class="material-icons text-danger">close</i> @inquire.Info</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>