@model InteriorPlatform.Web.ViewModels.Search.SearchAssemblyModel
@{
    this.ViewData["Title"] = "Търсене";
    var styleItems = this.Model.SearchViewModel.StylesItems.Select(x => new SelectListItem(x.Value, x.Key));
    var categoryItems = this.Model.SearchViewModel.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="container">
    <h3 class="card-title">Търсене</h3>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <form method="post" class="form" enctype="application/x-www-form-urlencoded">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.SearchInputModel.Name" class="form-label">Ключова дума</label>
                    <input asp-for="@Model.SearchInputModel.Name" type="text" class="form-control">
                    @*<span asp-validation-for="@Model.SearchInputModel.Name" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SearchInputModel.Styles" class="form-label">Стилове</label>
                    <select asp-for="@Model.SearchInputModel.Styles" asp-items="styleItems" class="selectpicker" data-style="select-with-transition" multiple="" title="Избери стил" data-size="7" tabindex="-98"></select>
                    @*<span asp-validation-for="@Model.SearchInputModel.Styles" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SearchInputModel.CategoryId" class="form-label">Категория</label>
                    <select asp-for="@Model.SearchInputModel.CategoryId" asp-items="categoryItems" class="selectpicker" data-style="select-with-transition" title="Избери категория" data-size="7" tabindex="-98"></select>
                    @*<span asp-validation-for="@Model.SearchInputModel.CategoryId" class="text-danger"></span>*@
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Търси</button>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <div class="grid" data-masonry='{ "itemSelector": ".grid-item"}'>
                <div class="grid-sizer"></div>
                @if (Model.SearchListModel == null)
                {
                    <h4 class="card-title">Моля, изберете вашите параметри за търсене...</h4>
                }
                else
                {
                    @foreach (var project in Model.SearchListModel.Projects)
                    {
                        <div class="grid-item col-md-3 mt-5">
                            <div class="card card-background" style="background-image: url(@project.ImageUrl)">
                                <div class="card-content">
                                    <h6 class="category text-info">@project.CategoryName</h6>
                                    <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id">
                                        <h4 class="card-title">@project.Name</h4>
                                    </a>
                                    <a asp-controller="Projects" asp-action="ById" asp-route-id="@project.Id" class="btn btn-white btn-round">
                                        <i class="material-icons">subject</i> повече
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
